packaging_format = 2

id = "simplemachines"
name = "Simple Machines Forum"
description.en = "Forum example"

version = "3.0~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"

[integration]
yunohost = ">= 11.2.4"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = true
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/SimpleMachines/SMF/archive/refs/tags/v2.1.6.tar.gz"
        sha256 = "329037e8d3a04721732f2df2fe4eb12e6300c0aef2e0639e92bac56856120d11"
        autoupdate.upstream = "https://github.com/SimpleMachines/SMF"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "nginx postgresql postgresql-contrib php7.4-pgsql php7.4-curl php7.4-ldap php7.4-mbstring"

    [resources.composer]
    version = "2.9.3"

    [resources.database]
    type = "postgresql"
